<div class="p-2">
  <table class="table table-sm">
    <tr>
      <th>Name</th>
      <td>{{ product?.name || "Loading..." }}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td>{{ product?.category || "Loading..." }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ product?.description || "Loading..." }}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ product?.price || "Loading..." }}</td>
    </tr>
    <!-- Supplier -->
    <tr>
      <th colspan="2" class="bg-info">Supplier</th>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ product?.supplier?.name }}</td>
    </tr>
    <tr>
      <th>City</th>
      <td>{{ product?.supplier?.city }}</td>
    </tr>
    <tr>
      <th>State</th>
      <td>{{ product?.supplier?.state }}</td>
    </tr>
    <tr>
      <th>Products</th>
      <td>{{ product?.supplier?.products?.length }}</td>
    </tr>
    <!-- Ratings -->
    <tr>
      <th colspan="2" class="bg-info">Ratings</th>
    </tr>
    <tr *ngFor="let item of product.ratings">
      <th>Stars</th>
      <td>{{ item.stars }}</td>
    </tr>
  </table>
</div>
